.pass{
    margin-left: 1px;
    margin: 5px;
}
form{
    color: #f4f1de;
}
.formdiv{
    background-color: #778da9;
    margin-top: 130px;
    margin-left: 600px;
    max-height: 500px;
    max-width: max-content;
    border-style: solid;
    padding: 40px;
}